body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #E1E1E1;
}

.right-up-arrow-icon {
  margin-left: 8px;
  transform: rotate(-45deg);
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}